/**!
*/

body {
    width: 450px;
}

#spinner, #result, #failed {
    display: none;
}

#failed {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

#result {
    /*text-shadow: 0px 0px 8px white;*/

    font-size: 110%;

    .title {
        font-weight: bold;
        display: inline-block;
    }

    .content {
        font-weight: none;
        margin-left: 5px;
        display: inline;
    }

    #poster {
        width: 100%;
        height: auto;
    }
}
