mixin myitem(name)
  div
    span.title #{name}:
    span.content(id=name)

doctype html
html
  head
    title Morank
    //- meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="lib/materialize.min.css")
    link(type="text/css" rel="stylesheet" href="popup.css")

  body
    .container
      #form
        .row
          .col.s12
            .input-field
              input#title.validate.active(type="text")
              //- input#title.validate(type="text" value="reservoir dogs")
              label Title
            .input-field
              input#year.validate(type="number")
              label Year
        .row
          .col.s6.offset-s6
            a#search.waves-effect.waves-light.btn Procurar

      #spinner
        .preloader-wrapper.active
          .spinner-layer.spinner-red-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle

      #failed
        .row
          .col.s12.red-text Movie not found!

      #result
        .row
          +myitem('Title')
          +myitem('Released')
          +myitem('Genre')
          +myitem('Runtime')
          +myitem('Actors')
          +myitem('Awards')
          +myitem('Country')
          +myitem('Director')
          +myitem('Language')
          +myitem('Metascore')
          +myitem('Plot')
          +myitem('Poster')
          +myitem('Production')
          +myitem('Type')
          +myitem('Writer')
          +myitem('imdbRating')
          +myitem('imdbVotes')
          +myitem('tomatoFresh')
          +myitem('tomatoMeter')
          +myitem('tomatoRating')
          +myitem('tomatoReviews')
          +myitem('tomatoRotten')

    script(src="lib/jquery.min.js")
    script(src="lib/materialize.min.js")
    script(src="popup.js")
