mixin myitem(name)
  div(id=name)
    .title #{name}:
    .content

doctype html
html
  head
    title Morank
    //- meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="lib/materialize.min.css")
    link(type="text/css" rel="stylesheet" href="popup.css")

  body
    .container
      #form
        .row
          .col.s12
            .input-field
              input#title.validate.active(type="text")
              //- input#title.validate(type="text" value="reservoir dogs")
              label#langTitle
            .input-field
              input#year.validate(type="number")
              label#langYear
        .row
          .col.s6.offset-s6
            a#search.waves-effect.waves-light.btn Procurar

      #spinner.center-align
        .preloader-wrapper.active
          .spinner-layer.spinner-red-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle

      #failed
        .row
          .col.s12.red-text Movie not found!

      #result
        .row
          .col.s7
            img#poster.materialboxed
          .col.s5
            +myitem('Title')
            +myitem('Type')
            +myitem('Genre')
            +myitem('Runtime')
            +myitem('Released')
            +myitem('Country')
            +myitem('Director')
            +myitem('Writer')
            +myitem('Language')
            +myitem('Metascore')
            .row
              .col.s6
                a#lnkImdb.waves-effect.waves-light.btn IMDb
                +myitem('imdbRating')
                +myitem('imdbVotes')
              .col.s6
                a#lnkTomato.waves-effect.waves-light.btn Tomato
                +myitem('tomatoFresh')
                +myitem('tomatoMeter')
                +myitem('tomatoRating')
                +myitem('tomatoReviews')
                +myitem('tomatoRotten')
        .row
          +myitem('Actors')
          +myitem('Plot')
          +myitem('Production')
          +myitem('Awards')

    script(src="lib/jquery.min.js")
    script(src="lib/materialize.min.js")
    script(src="popup.js")
